{
	"name": "Body2",
	"components": {
		"2": {
			"type": "Rigidbody",
			"body_type": "kinematic"
		},
		"4": {
			"type": "DrawBodyComponent",
			"shape":"circle"
		},
		"5":{
			"type":"Transform",
			"x" : 3,
			"y" : 19
		}
	}
}
