{
	"name": "Ground",
	"components": {
		"2": {
			"type": "Rigidbody",
			"body_type": "static"
		},
		"4": {
			"type": "DrawBodyComponent",
			"width": 20,
			"height": 1,
			"shape":"box",
			"is_static":true
		},
		"5":{
			"type":"Transform",
			"x" : 20,
			"y" : 40
		}
	}
}
