{
	"name": "player",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"body_type":"kinematic",
			"density": 0.5
		},
		"2": {
			"type": "KeyboardControls"
		},
		"3": {
			"type": "SpriteRenderer",
			"sprite": "box1"
		},
		"4" : {
			"type": "BoxCollider"
		},
		"5" : {
			"type": "BoxCollider",
			"is_trigger" : true
		}
	}
}