{
	"name": "Wall",
	"components": {
		"2": {
			"type": "Rigidbody",
			"body_type": "static"
		},
		"4": {
			"type": "DrawBodyComponent",
			"width": 1,
			"height": 20,
			"shape":"box",
			"is_static":true
		}
	}
}
